* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html, body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

main {
    flex: 1;
}

header {
    padding: 50px 0 40px 0;
    font-size: 1.5rem;
    font-weight: bold;
}

h2 {
    font-size: 20pt;
}

nav {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    gap: 15px;
    margin-bottom: 20px;
}

nav .menu-link {
    text-decoration: none;
    color: black;
    font-size: 22px;
    padding-right: 10px;
}

nav .menu-link.active {
    color: tomato;
}

nav .menu-link:hover {
    color: tomato;
}

.container {
    max-width: 90%;
    margin: 0 auto ;
}

.name-header {
    margin-bottom: 50px;
}

.avatar {
    margin-bottom: 10px;
}

.avatar > img {
    width: 800px;
    height: auto;
}

.about-text {
    font-size: 16pt;
    padding: 20px 0 30px 0;
}

.ul-advatages {
    font-size: 15pt;
    padding: 20px 0 30px 0;
}

.table-popular-dishes {
    max-width: 70%;
    margin: 20px 0 40px 0;
}

table {
    font-size: 15px;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid black;
    text-align: center;
}

footer {
    font-size: 15pt;
    font-weight: 500;
    background-color: black;
    color: white;
    padding: 40px 0;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: tomato;
}

@media all and (max-width: 800px) {

    nav {
        justify-content: space-between;
    }

    .avatar > img {
        width: 500px
    }

}

@media all and (max-width: 600px) {

    .name-header h1 {
        text-align: center;
    }

    nav {
        flex-direction: column;
        align-items: center;
    }

    nav .menu-link {
        font-size: calc(22px + 4px);
    }

    .avatar > img {
        width: 100%;
    }

    table {
        font-size: calc(15px - 2px);
    }

    .table-popular-dishes {
        max-width: 100%;
    }

}

@media all and (max-width: 400px) {

    table {
        font-size: calc(15px - 4px);
    }

    .table-popular-dishes {
        max-width: 100%;
    }

}

